@import '../styles/FormStyles.module.css';

.loginButton {
  background: #4c669f;
  color: white;
}

.loginButton:hover {
  background: #3b5998;
}

.registerButton {
  background: #ff7e5f;
  color: white;
}

.registerButton:hover {
  background: #e66a4e;
}